<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" contents="width=device-width , initial-scale=1.0" >
	<title>blazon</title>
</head>
<body>
	{{{body}}}
</body>
</html>
