<h3 class="" >
    <i class="fa fa-superpowers" aria-hidden="true"></i>
    Blazon
</h3>

<div class="sectiom">
    <p class="lead"> Share your stories online!</p>
</div>

<div class="divider"></div>
<div claas="section">
    <a href="/auth/google" class="btn red darken-1 googlelogin">
        <i class="fab fa-google left" ></i>
        Join us using Google
    </a>
</div>


