* { 
	box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}

html{
    min-height: 100%;   
}

body{
    background: linear-gradient(-45deg, #96450D, #3E0C15, #2F3229, #042D29);
    background: linear-gradient(-45deg, #221e19, #895740, #736756, #37332a);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: cover;
    background-size: 400% 400%;
    min-height: 100%;
}

nav{
    background-color: black;
}


.nav{
    background: rgba(255, 255, 255, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
}

.card{
    padding: 0.7rem 1.2rem;
    color: white;
    background: black;
}

.card-image > a > i{
    color: black;
}

.fa-small{
    font-size: 19px !important;
}


p{
    margin: 0.6rem 0 !important ;
}

.divider{
    margin: 1rem 0;
    display: none;
}

.section{
}

.googlelogin{
    font-weight: bold;
}

.login-container{
    min-width:400px;
    max-width:400px;
    margin-top: 3.5rem;
    text-align: center;
}

.chip{
    margin-bottom: 1rem 0;
}

.addbutton > a{
    border: 2px solid white;
}

.dashboardIcons{
    flex-wrap: wrap;
    display: flex;
    gap:0.7rem
}




/*NOTE: typography styles*/
.header{
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
}

.login-header{
    margin: 0;
    margin-top: 1rem;
    font-family: 'Abril Fatface', cursive;
}

.subheader{
    font-weight: 500;
    font-family: 'Pathway Extreme', sans-serif;
}

.input-field > label {
    color: black;
    font-weight: bold;
}

.input-field > input{
    border-bottom: black 2px solid;
}

.story-title{
    font-weight: bold;
    font-family: 'Pathway Extreme', sans-serif;
}

.CTA{ 
    font-size: 0.9rem;
    font-weight: lighter;
    font-family: 'Pathway Extreme', sans-serif;
}











@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

