<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" contents="width=device-width , initial-scale=1.0" >
	<title>blazon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <Link rel="stylesheet" href="/css/styles.css" />
    {{!--
         <script src="https://cdn.tailwindcss.com"></script>
    --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@200;300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    {{> _header}}
    {{> _add_button}}
    <div class="container">
        {{{body}}}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
    <script>
        M.Sidenav.init(document.querySelector(".sidenav"))
        M.FormSelect.init(document.querySelector("#status"));

        CKEDITOR.replace('body' , {
                //uiColor: '#000000',
                font_styles:{
                        styles:         { 'color': '#(FFFFFF)' },
                    }
            })
        
        CKEDITOR.on('instanceReady', function(e) {
            // First time
            //e.editor.document.getBody().setStyle('background-color', 'rgba(0, 0, 0 , 0.8)');
            e.editor.document.getBody().setStyle('opacity', '0.8');
            // in case the user switches to source and back
            e.editor.on('contentDom', function() {
                //e.editor.document.getBody().setStyle('background-color', 'blue');
            });
        });
    </script>
</body>
</html>
